<div style="position: absolute; left: 35%; width: 400px; height: 450px; border: 4px solid black">
  <div align="center">
    <br><br>
    <%= form_with(model: part, local: true) do |form| %>
      <% if part.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

          <ul>
          <% part.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :ชื่ออะไหล่ %>
        <%= form.text_area :name, id: 'text_field_one', :required => 'required' %>
      </div>

      <div class="field">
        <%= form.label :รหัส %>
        <%= form.text_area :serial, id: 'text_field_two', :required => 'required' %>
      </div>

      <div class="field">
        <!-- <%= form.label :ประเภทรถ %> -->
        <%= form.text_area :truck_model, id: 'truck-category-val', :required => 'required', :hidden => true %>
      </div>

      <div class="field">
        <select id="truck-category">
          <option value="">-เลือกประเภทรถ-</option>
          <option value="Isuzu Deca 320">Isuzu Deca 320</option>
          <option value="Isuzu Deca 270">Isuzu Deca 270</option>
          <option value="Isuzu R/K 195">Isuzu R/K 195</option>
          <option value="Isuzu R/K 175">Isuzu R/K 175</option>
          <option value="Hino Series 500">Hino Series 500</option>
          <option value="Hino Series เล็ก">Hino Series เล็ก</option>
          <option value="Hino Mega">Hino Mega</option>
          <option value="Hino 6ล้อ">Hino 6ล้อ</option>
          <option value="Volvo">Volvo</option>
          <option value="Fuso">Fuso</option>
          <option value="UD">UD</option>
          <option value="ทุกประเภท">ทุกประเภท</option>
        </select>
      </div>

      <div class="field">
        <!-- <%= form.label :ประเภทอะไหล่ %> -->
        <%= form.text_area :category, id: 'text-category', :required => 'required', :hidden => true %>
      </div>

      <div class="field">
        <select id="category-select">
          <option value="">-เลือกประเภทอะไหล่-</option>
          <option value="อะไหล่เครื่อง">อะไหล่เครื่อง</option>
          <option value="เบรค">เบรค</option>
          <option value="เกียร์">เกียร์</option>
          <option value="ช่วงล่าง">ช่วงล่าง</option>
          <option value="หางพ่วง">หางพ่วง</option>
          <option value="ของเหลว">ของเหลว</option>
          <option value="จิปะถะ">จิปะถะ</option>
        </select>
      </div>

      <div class="field">
        <%= form.label :จำนวน %>
        <%= form.number_field :quantity, id: 'text_field_five', :required => 'required' %>
      </div>

      <font id="shelfSelected"></font>

      <div class="field">
        <%= form.text_area :shelf, id: 'text_field_six', :required => 'required', :hidden => true %>
      </div>

      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#exampleModalLong">
        เลือกตำแหน่งเก็บ
      </button>
      <!-- <div class="field">
        <%= form.select :storage_id, options_for_select(Storage.all.map{|c| ["ห้อง "+c.room+" - โซน "+c.zone+" - ชั้น "+c.level.to_s+" - ตำแหน่ง "+c.position, c.id]}, form.object.storage_id), {:include_blank => 'เลือกห้องเก็บ'}  %>
      </div> -->


      <div class="actions">
        <br>
        <input type="submit" name="commit" value="เพิ่มอะไหล่" id='submitButtonId'>
      </div>

    <% end %>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div align="center">
          <object style="border-style: dashed;" data="<%= asset_path('current-storage.svg') %>" type="image/svg+xml" id="svg" height=300px; width=450px;></object>
        </div>
        <br>
        <p align="center" id="show-pos"></p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button> -->
        <button type="button" class="btn btn-primary" id="save" data-dismiss="modal">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<script>
  var mySVG = document.getElementById("svg");
  var svgDoc;
  var delta;
  var selectedShelf;
  mySVG.addEventListener("load",function() {
    svgDoc = mySVG.contentDocument;
    delta = svgDoc.getElementsByClassName("shelf");
    // console.log(delta.length)
     for (var i = 0; i < delta.length; i++) {
       delta[i].addEventListener('click', selectedActive, false);
     }
  })

  $('#category-select').on('change', function() {
    document.getElementById('text-category').value = this.value
    // alert( this.value );
  })

  $('#truck-category').on('change', function() {
    document.getElementById('truck-category-val').value = this.value
    // alert( this.value );
  })

  function selectedActive() {
    for (var i = 0; i < delta.length; i++) {
      if (delta[i].id.split("-")[1] == 0) delta[i].style.setProperty("fill", "#4a86e8", "");
      else delta[i].style.setProperty("fill", "#cfe2f3", "");
    }
    // console.log(this.id)
    selectedShelf = this.id
    getPosInfo(selectedShelf)
    var info = (selectedShelf.split('-'))
    document.getElementById('show-pos').innerHTML = getPosInfo(selectedShelf)
    this.style.setProperty("fill", "green", "");
  }

  $('#save').click(function() {
    document.getElementById('text_field_six').value = selectedShelf
    // console.log(selectedShelf)
    var info = (selectedShelf.split('-'))
    document.getElementById('shelfSelected').innerHTML = getPosInfo(selectedShelf)
  })

  function getPosInfo(pos) {
    my_dict = {
      'l':'ซ้าย',
      'r':'ขวา',
      '1':'1',
      '2':'2',
      '3':'3',
      '4':'4',
      '5':'5',
      '0':'บนพื้น'
    }
    var splited = pos.split('-')
    console.log(splited[2])
    if (splited.length == 2)  return 'ตำแหน่ง: โซน ' + splited[0] + ', ชั้น ' + splited[1][0]
    else if (splited.length == 3) return 'ตำแหน่ง: โซน ' + splited[0] + ', แถว ' + splited[2] + ', ชั้น ' + my_dict[splited[1]]
    else return 'ตำแหน่ง: โซน ' + splited[0] + ', ชั้น ' + splited[1] + ', แถว ' + splited[2] + ', ฝั่ง ' + my_dict[splited[3]]
  }
</script>
