<!-- <p id="notice"><%= notice %> -->
<%= render '/layouts/header' %>

<!-- <div align="center">
  <%= form_tag parts_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] ,placeholder: "ค้นหาอะไหล่"%>
      <%= submit_tag "Search", class: 'btn search-button' %>
    </p>
  <% end %>
-->
<h2 align="center">อะไหล่</h2>

<div align="center">
  <input type="text" id="search" placeholder="Type to search">
<div>

<table class="table table-striped" style="width:75%" align="center">
  <thead>
    <tr>
      <th class="ui-helper-center">ชื่อ</th>
      <th class="ui-helper-center">รหัส</th>
      <th class="ui-helper-center">รุ่นรถ</th>
      <th class="ui-helper-center">ประเภท</th>
      <th class="ui-helper-center">จำนวน</th>
      <th class="ui-helper-center">ห้องเก็บ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="search-table">
    <% @parts.each do |part| %>
      <tr>
        <td class="ui-helper-center"><%= part.name %></td>
        <td class="ui-helper-center"><%= part.serial %></td>
        <td class="ui-helper-center"><%= part.truck_model %></td>
        <td class="ui-helper-center"><%= part.category %></td>
        <td class="ui-helper-center"><%= part.quantity %></td>
        <td class="ui-helper-center"><!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-xs show-position" data-toggle="modal" data-target="#exampleModalLong" value="<%= part.shelf %>">
            ดูตำแหน่ง
          </button>
        </td>
        <td class="ui-helper-center"><%= link_to 'เปลี่ยนจำนวน', edit_part_path(part) %></td>
        <td class="ui-helper-center"><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="center">
  <br>
  <%= link_to 'เพิ่มอะไหล่', new_part_path %>
</div>

<script>
var $rows = $('#search-table tr');
 $('#search').keyup(function() {
   var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
   $rows.show().filter(function() {
       var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
       return !~text.indexOf(val);
   }).hide();
 });
</script>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div align="center">
          <object style="border-style: dashed;" data="<%= asset_path('storage4.svg') %>" type="image/svg+xml" id="svg" height=300px; width=450px;></object>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

  $('.show-position').click(function() {
    var mySVG = document.getElementById("svg")
    var svgDoc;
    var chosen = this.value
    mySVG.addEventListener("load",function() {
      svgDoc = mySVG.contentDocument;
      var delta = svgDoc.getElementsByClassName("shelf");
      backToBlue(delta)
      for (var i = 0; i < delta.length; i++) {
        if (delta[i].id == chosen) delta[i].style.setProperty("fill", "red", "");
      }
    })
    console.log(this.value)
  })
  // var mySVG = document.getElementById("svg");
  // var svgDoc;
  // var delta;
  // mySVG.addEventListener("load",function() {
  //   svgDoc = mySVG.contentDocument;
  //   delta = svgDoc.getElementsByClassName("shelf");
  //   console.log(delta.length)
  //    for (var i = 0; i < delta.length; i++) {
  //      delta[i].addEventListener('click', selectedActive, false);
  //    }
  // })
  //
  function backToBlue(delta) {
    for (var i = 0; i < delta.length; i++) {
      delta[i].style.setProperty("fill", "#cfe2f3", "");
    }
  }
  //   console.log(this.id)
  //   this.style.setProperty("fill", "green", "");
  // }


  // var svgDoc = mySVG.contentDocument;
  // svgDoc.getElementById("haha").style.cursor = "pointer";
  // console.log(svgDoc.getElementById("test"))
</script>
