<p id="notice"><%= notice %>
<%= render '/layouts/header' %>

<!-- <div align="center">
  <%= form_tag parts_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] ,placeholder: "ค้นหาอะไหล่"%>
      <%= submit_tag "Search", class: 'btn search-button' %>
    </p>
  <% end %>
-->
<h2 align="center">อะไหล่</h2>

<div align="center">
  <input type="text" id="search" placeholder="Type to search">
<div>

<table class="table table-striped" style="width:75%" align="center">
  <thead>
    <tr>
      <th class="ui-helper-center">ชื่อ</th>
      <th class="ui-helper-center">รหัส</th>
      <th class="ui-helper-center">รุ่นรถ</th>
      <th class="ui-helper-center">ประเภท</th>
      <th class="ui-helper-center">จำนวน</th>
      <th class="ui-helper-center">ห้องเก็บ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="search-table">
    <% @parts.each do |part| %>
      <tr>
        <td class="ui-helper-center"><%= part.name %></td>
        <td class="ui-helper-center"><%= part.serial %></td>
        <td class="ui-helper-center"><%= part.truck_model %></td>
        <td class="ui-helper-center"><%= part.category %></td>
        <td class="ui-helper-center"><%= part.quantity %></td>
        <td class="ui-helper-center">ห้อง <%= part.storage.room %> โซน <%= part.storage.zone %> ชั้น <%= part.storage.level %> ตำแหน่ง <%= part.storage.position %> </td>
        <div class="btn-group">
          <td class="ui-helper-center"><%= link_to 'เปลี่ยนจำนวน', edit_part_path(part) %></td>
          <td class="ui-helper-center"><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="center">
  <br>
  <%= link_to 'เพิ่มอะไหล่', new_part_path %>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>
var $rows = $('#search-table tr');
 $('#search').keyup(function() {
   var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
   $rows.show().filter(function() {
       var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
       return !~text.indexOf(val);
   }).hide();
 });
</script>
