<p id="notice"><%= notice %></p>

<p>
  <strong>Plate:</strong>
  <%= @truck.plate %>
</p>

<p>
  <strong>Category:</strong>
  <%= @truck.category.split("-").join() %>
</p>

<p>
  <strong>Model:</strong>
  <%= @truck.model %>
</p>


<div id=selected-category>
</div>

<div class="modal fade" id="availableModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">ใส่ยาง</h3>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-4">
            <font>เลือกรายการที่ต้องการทำ: </font>
          </div>

          <div class="col-sm-4">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="exist-case" value="option1"> เลือกยางที่อยุ่ในระบบ
              </label>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="new-case" value="option1"> เพิ่มยางใหม่
              </label>
            </div>
          </div>
        </div>

        <div class="border-class">
          <div align="center" id="default-form">
            <font color="red">กรุณาเลือกรายการที่ต้องการทำ</font>
          </div>

          <div id="tyre-form" style="display:none;" >
            <%= form_with(model: @tyre, local: true) do |form| %>
              <div class="field">
                <%= form.label :serial %>
                <%= form.text_field :serial, id: :tyre_serial %>
              </div>

              <div class="field">
                <%= form.label :brand %>
                <%= form.text_field :brand, id: :tyre_brand %>
              </div>

              <div class="field">
                <%= form.label :truck_id %>
                <%= form.number_field :truck_id, id: :tyre_truck_id, :value => @truck.id, :readonly => true %>
              </div>

              <div class="field">
                <%= form.label :position %>
                <%= form.text_field :position, id: :tyre_position, :value => nil, :readonly => true %>
              </div>

              <div class="field">
                <%= form.label :status %>
                <%= form.text_field :status, id: :tyre_status, :value => "กำลังใช้งาน", :readonly => true %>
              </div>

              <div class="actions">
                <%= form.submit %>
              </div>
            <% end %>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">บันทึก</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="usedModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">อัพเดทยาง</h3>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-4">
            <font>เลือกรายการที่ต้องการทำ: </font>
          </div>

          <div class="col-sm-2">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input2" type="radio" name="inlineRadioOptions" id="swap-case" value="option1"> สลับยาง
              </label>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input2" type="radio" name="inlineRadioOptions" id="update-case" value="option1"> อัพเดทสถานะยาง
              </label>
            </div>
          </div>
        </div>

        <div class="border-class">
          <div align="center" id="default-form2">
            <font color="red">กรุณาเลือกรายการที่ต้องการทำ</font>
          </div>

          <div style="display: none;" id="swap-form">
            <fieldset disabled>
              <div class="form-group">
                <label for="inputAddress">ยางที่ถอดออก</label>
                <input type="text" class="form-control" id="current-tyre" value="">
              </div>
            </fieldset>

            <div class="form-group">
              <label for="exampleFormControlTextarea1">สาเหตุที่ถอดออก</label>
              <textarea class="form-control" id="detail" rows="2"></textarea>
            </div>

            <div class="form-group" id="tyre-select">
            </div>

            <div class="form-group">
              <label>วันที่</label>
              <input type="date" id="inputdatepicker" class="datepicker form-control" data-date-format="DD MMMM YYYY">
            </div>
            <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-2">
                <button class="btn-success" id="btn-swap">บันทึก</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn-danger" data-dismiss="modal">ยกเลิก</button>
              </div>
            </div>
          </div>

          <div id="discription-form" style="display:none;">
            <%= form_for @discription, html: { multipart: true} do |form| %>
              <div class="field">
                <%= form.label :วันที่ %>
                <%= form.date_select :occur, id: :discription_occur %>
              </div>

              <div class="field">
                <%= form.label :detail %>
                <%= form.text_field :detail, id: :discription_detail %>
              </div>

              <div class="field">
                <%= form.label :tyre_id %>
                <%= form.number_field :tyre_id, id: :discription_tyre_id, :value => nil, :readonly => true %>
              </div>

              <div class="field">
                <!-- <%= form.label :รูปบัตร %> -->
                <%= form.file_field :image %>
              </div>

              <div class="actions">
                <%= form.submit %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>

<%= content_tag :div, class: "temp", data: {temp: @tyres.where(truck_id: @truck.id)} do %>
<% end %>

<script>

// $('#selector').change(function() {
//   console.log($(this).val())
// })
$( document ).ready(function() {
  document.getElementById('tyre-select').innerHTML = '<label for="exampleFormControlSelect1">ยางที่ใส่แทน</label><select id="selector" data-live-search="true" class="form-control selectpicker"><option selected disabled hidden>--เลือกยาง--</option><% Tyre.where(truck_id: nil).each do |tyre| %><option value="<%= tyre.id %>">เลข: <%= tyre.serial %>, ยี่ห้อ: <%= tyre.brand %></option><% end %></select>'
});
  var current_pos;
  var current_tyre_id;
  var category = "<%= @truck.category.split("-").join("") %>"
  var all_tyre_id = "<%= Tyre.where(truck_id: @truck.id) %>"

  category_dict={
      "10Wheels":"<%= asset_path('10Wheels.svg') %>",
      "12WheelsTrailer":"<%= asset_path('12WheelsTrailer.svg') %>"
  };
  document.getElementById('selected-category').innerHTML = '<object data="' + category_dict[category] + '" type="image/svg+xml" id="svg" height=250px; width=400px;  display: none;></object>'

  var a = '<%= raw Tyre.where(truck_id: @truck.id).pluck(:position) %>'
  var all_tyre = $('.temp').data('temp');
  var all_tyre_pos = [];
  for (var i = 0; i < all_tyre.length; i++) {
    all_tyre_pos.push(parseInt(all_tyre[i].position))
  }

  var mySVG = document.getElementById("svg");
  var svgDoc;
  mySVG.addEventListener("load",function() {
    svgDoc = mySVG.contentDocument;
    var delta = svgDoc.getElementsByClassName("wheel");
    // console.log(delta)
    for (var i = 0; i < delta.length; i++) {
      console.log(all_tyre_pos)
      // console.log(parseInt(delta[i].id.split("-")[1]))
      if (all_tyre_pos.includes(parseInt(delta[i].id.split("-")[1]))) {
        svgDoc.getElementById(delta[i].id).style.setProperty("fill", "grey", "");
        delta[i].addEventListener('click', usedWheel, false);
      } else {
        delta[i].addEventListener('click',
        function(){
            availableWheel()
            current_pos = this.id.split("-")[1]
            document.getElementById('tyre_position').value = current_pos
        }, false);
      }
    }
  })

  function usedWheel() {
    current_pos = this.id.split("-")[1]
    document.getElementById('discription_tyre_id').value = current_pos
    var all_tyre = $('.temp').data('temp')
    for (var i = 0; i < all_tyre.length; i++) {
      if (all_tyre[i].position == current_pos) {
        current_tyre_id = all_tyre[i].id
        document.getElementById('current-tyre').value = "เลข: " + all_tyre[i].serial + ', ยี่ห้อ: ' + all_tyre[i].brand
      }
    }
    $('#usedModal').modal('toggle');
  }

  function availableWheel() {
    $('#availableModal').modal('toggle');
  }

  $('.form-check-input').click(function() {
    $('#default-form').hide();
  if ($('#exist-case').is(':checked')) {
    console.log("ja")
  } else if ($('#new-case').is(':checked')) {
    $('#tyre-form').show();
      console.log(current_pos)
    }
  })

  $('.form-check-input2').click(function() {
    $('#default-form2').hide();
  if ($('#swap-case').is(':checked')) {
    $('#discription-form').hide();
    $('#swap-form').show();
  } else if ($('#update-case').is(':checked')) {
    $('#swap-form').hide();
    $('#discription-form').show();
    }
  })

  $('#btn-swap').click(function() {
    $.ajax({
      type:"GET",
      url:"/tyres/swap",
      data: {
        truck_id: parseInt("<%= raw @truck.id %>"),
        current_position: current_pos,
        current_tyre: current_tyre_id,
        discription: $('#detail').val(),
        new_tyre: $('#selector').val(),
        change_date: document.getElementById("inputdatepicker").value
      },
      dataType:"json",
      success: function(data){
        console.log("done")
      }
    })
  });

</script>

<style>
  .border-class
  {
    border:thin black solid;
    margin:20px;
    padding:20px;
  }
</style>
