<%= render '/layouts/header' %>
<h2 align="center">เพิ่มพนักงานขับรถ</h2><br>
<div style="position: absolute; left: 34%; width: 400px; height: auto; border: 4px solid black">
  <div align="center">
    <%= form_for @driver, html: { multipart: true} do |form| %>
      <% if driver.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

          <ul>
          <% driver.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <br><br>
      <div class="field">
        <%= form.label :ชื่อพนักงาน %>
        <%= form.text_field :name, id: :driver_name %>
      </div>

      <div class="field">
        <%= form.label :ทะเบียนรถ %>
        <%= form.text_field :vehicle, id: :driver_vehicle %>
      </div>

      <div class="field">
        <%= form.label :วันหมดอายุบัตร %>
        <%= form.date_select :expire, id: :driver_expire %>
      </div>

      <div class="field">
        <%= form.label :วันหมดอายุบัตร %>
        <%= form.select :category, options_for_select([["--เลือกประเภท--", ""], "ใบขับขี่", "บัตรประชาชน"]) %>
      </div>

      <div class="field">
        <!-- <%= form.label :รูปบัตร %> -->
        <%= form.file_field :image %>
      </div>

      <div id="target">
      </div>
      <br>
      <div class="actions">
        <%= form.submit %>
      </div>
      <br>
    <% end %>
  </div>
</div>



<script>
$(function() {
  $('#driver_image').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      // console.log(file);
      img.src = file.target.result;
      $('#target').html(img);
    }
    reader.readAsDataURL(image);
    // console.log(files);
  });
});
</script>


<style>
img {
  max-width:85%;
  max-height:60%;
}
</style>
