<%= form_for @discription, html: { multipart: true} do |form| %>
  <% if discription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discription.errors.count, "error") %> prohibited this discription from being saved:</h2>

      <ul>
      <% discription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :occur %>
    <%= form.date_select :occur, id: :discription_occur %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail, id: :discription_detail %>
  </div>

  <div class="field">
    <%= form.label :tyre_id %>
    <%= form.number_field :tyre_id, id: :discription_tyre_id %>
  </div>

  <div class="field">
    <!-- <%= form.label :รูปบัตร %> -->
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
