<p id="notice"><%= notice %></p>

<p>
  <strong>Occur:</strong>
  <%= @discription.occur %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @discription.detail %>
</p>

<p>
  <strong>Tyre:</strong>
  <%= @discription.tyre_id %>
</p>
<button id="ori">original</button>
<button id="90d">90d</button>
<button id="180d">180d</button>
<button id="270d">270d</button>

<br><br><br><br><br><br><br><br><br>

<img id="my_img" src="<%= @discription.image %>" width="400px" height="240px">

<script>

$('#ori').click( function () {
  $('#my_img').removeAttr('class');
})

$('#90d').click( function () {
  $('#my_img').removeAttr('class');
  $('#my_img').addClass('img_90');
})

$('#180d').click( function () {
  $('#my_img').removeAttr('class');
  $('#my_img').addClass('img_180');
})

$('#270d').click( function () {
  $('#my_img').removeAttr('class');
  $('#my_img').addClass('img_270');
})


</script>

<style>
  .img_90 {
    transform: rotate(90deg);
  }

  .img_180 {
    transform: rotate(180deg);
  }

  .img_270 {
    transform: rotate(270deg);
  }
</style>
