<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href= "<%= parts_path %>">Stock</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href= "<%= parts_path %>"> อะไหล่ </a></li>
      <li><a href= "<%= drivers_path %>"> พนักงานขับรถ </a></li>
      <li><a href="<%= storages_path %>"> ห้องเก็บของ </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="<%= histories_path %>">ประวัติย้อนหลัง</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= current_user.email %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a><%= current_user.email %></a></li>
          <li role="separator" class="divider"></li>
          <li align="center"><a><%= link_to('Logout', destroy_user_session_path, method: :delete) %></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
